.footer {
    width: 100%;
    height: 270px;
    background: $color-black;
    color: $color-white;
    text-align: center;
    @include flex-center;
  
    .footer-container {
      @include flex-center;
      flex-direction: column;
  
      h5 {
        font-family: $font-primary;
        font-size: $font-size-large;
      }
  
      h4 {
        font-family: $font-primary;
        font-size: $font-size-medium;
        margin-top: 8px;
      }
  
      .icons {
        width: 166px;
        @include flex-center;
        gap: 10px;
        margin-top: 30px;
  
        a {
          cursor: pointer;
  
          .fa-linkedin {
            color: #5474FD;
          }
  
          &:hover .fa-linkedin {
            color: lighten(#0077B5, 10%);
          }
        }
      }
    }
  }
  
  @media screen and (max-width: 768px) {
    
    .footer {
    height: auto;
    padding: 20px 0;
    }

    .footer-container {
      h5 {
        font-size: $font-size-medium;
      }

      h4 {
        font-size: $font-size-small;
        margin-top: 5px;
      }

      .icons {
        width: 100px;
        gap: 5px;

        a {
          font-size: 14px;
        }
      }
    }
  }

  @media screen and (max-width: 480px) {
    .footer-container {
      h5 {
        font-size: $font-size-small;
      }

      h4 {
        font-size: $font-size-small;
      }

      .icons {
        width: 80px;
        gap: 4px;

        a {
          font-size: 12px;
        }
      }
    }
  }
