$color-primary: #5474FD;
$color-primary-dark: #4B68D7;
$color-secondary: #333333;
$color-white: #fff;
$color-black: #232323;
$font-size-small: 14px;
$font-size-medium: 16px;
$font-size-large: 24px;
$font-size-xlarge: 36px;